.tv {
  background-image: url("tv.png");
  background-repeat: no-repeat;
  background-color: black;

  width:971px;
  height:656px;

  position:relative;
}
.tv canvas {
  position:absolute;
  left:180px;
  top:80px;

}
