/*.tv {
  background-image: url("tv.png");
  background-repeat: no-repeat;

  width:971px;
  height:656px;

  position:relative;
}
.tv canvas {
  position:absolute;
  left:180px;
  top:80px;

}
*/
body {
  overflow-x: hidden;
}

.logo-img {
  padding-bottom: 20px;
  width: 50%;
}
#emulator-panel {
background-color:#b4d7d5;
  position:relative;
}
#emulator-panel .background {

  background: url(../images/items4_1920x1200.jpg) no-repeat;
  background-size: 100% auto;
  background-position: center center;

}
#emulator{
  display:inline-block
}
#coconauts-panel{
  background-color:#b4d7d5;
  color:#555;
}
#coconauts-panel a{
  color:white;
}

.control-p1 {
  position:absolute;
  bottom:0px;
  left:0px;
  width:25%;
}
.padding-20 {
  padding:20px;
}
.margin-20 {
  margin:20px;
}
.achievement-hide {
  position:absolute;
  right:-100px;
}

.tweet-button {
  width:100px;
  cursor: pointer;
}
.list-achievements-button{
  width:100px;
  cursor: pointer;
}

.achievement-item{
  list-style-image: none;
list-style-type: none;
  border:1px solid grey;
  border-radius: 10px;
  padding:10px;
  margin:10px;

  box-shadow: 5px 5px 5px #888888;
}

.secret {
  filter: brightness(10%);
  -webkit-filter: brightness(10%);
  -moz-filter: brightness(10%);
  -o-filter: brightness(10%);
  -ms-filter: brightness(10%);
}

#achievements-panel {
  display:none;
}

.achievement-item .title {
  font-weight: bold;
  padding: 20px;
  font-size:large;
}
.achievement-item img {
  height:48px;
}

.fork-github {
  position:absolute;
  top:0px;
  left:0px;
}


.center-image
{
padding-top: 40px;
}
.extra-controls {
      display: inline-block;
}
.extra-button{
  width:48px;
  display:block;
}

.disabled{
  -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
     -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
        filter: grayscale(100%);
}
